@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&family=Nunito:wght@200&family=Poppins:wght@300&&family=Roboto:wght@500&display=swap");

/* SCROLL-BAR */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #0b0f30;
}

::-webkit-scrollbar-thumb {
  background: rgb(243, 234, 234);
  border-radius: 2.5vh;
}

/* ANIMATIONS */

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadeFromRight {
  0% {
    margin-left: 150%;
  }
  100% {
    margin-left: 0%;
  }
}

/* BODY */

body {
  margin-top: 100vh;
  overflow-x: hidden;

  background-color: rgb(18, 18, 43);
  background-blend-mode: overlay, color-dodge, color-burn, color-dodge, normal;

  color: white;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
}

h1 {
  font-family: Poppins, sans-serif;
  font-size: 4vh;
  color: #ff0000;
}

a {
  text-decoration: none;
  color: white;
}

button {
  background-color: #ff0000;
  width: 40vh;

  border: none;
  border-radius: 5vh;

  font-family: "Poppins", sans-serif;
  font-size: 3vh;
  font-weight: bold;

  padding: 4px;
  cursor: pointer;
  transition: 0.2s all;
}

button:hover {
  transform: scale(1.05);
}

section {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  padding-top: 5vh;
  padding-bottom: 5vh;

  width: 100%;
  height: fit-content;
}

section h1.section-title {
  text-align: center;

  font-family: 'Poppins', sans-serif;
  font-size: 8vh;
}

section .section-content {
  display: flex;

  justify-content: space-between;
  align-items: center;

  width: 90%;
  max-height: 90%;
}

.separator {
  height: 20vh;
  border: 1px solid #ff0000;
}

@media only screen and (max-width: 820px) {
  section .section-content {
    flex-direction: column;
    justify-content: center;
  }

  .separator {
    display: none;
  }
}

