.personal-info {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  text-align: justify;

  width: 45%;

  animation: fadeIn 0.2s ease-in-out;
  transition: 0.2s all;
}

.personal-widgets {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 45%;
}

@media only screen and (max-width: 820px) {
  .personal-info {
    width: 100%;
  }
  .personal-widgets {
    width: 100%;
  }
}

/* PERSONAL INFO */

.info-container {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.personal-info img {
  width: 200px;
  border-radius: 24px;
  box-shadow: 1px 7px 10px 3px var(--primary-purple);
}

.personal-info p {
  margin-top: 30px;
  font-size: 2.7vh;
}
