@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&family=Poppins:wght@300&display=swap");

header {
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(100% 225% at 0% 0%, #de3e3e 0%, #1b283d 100%),
    radial-gradient(100% 225% at 100% 0%, #ff6b00 0%, #ff0000 100%),
    linear-gradient(181deg, #ce63b7 0%, #ed6283 100%),
    radial-gradient(100% 120% at 75% 0%, #a74600 0%, #000000 100%),
    linear-gradient(305deg, #004596 0%, #150093 50%);
  background-blend-mode: overlay, color-dodge, color-burn, color-dodge, normal;

  padding: 0px;

  width: 100%;
  height: 100vh;

  color: #ff0000;
  font-family: "JetBrains Mono", monospace;
}

/* NAV */

nav {
  position: fixed;
  display: flex;
  flex-direction: row;

  align-items: center;

  width: 100%;
  height: 6vh;

  font-weight: bold;

  background-color: rgba(21, 0, 147, 0.4);
}

nav h1 {
  margin-left: 10px;
}

nav ul {
  display: flex;
  width: 90%;

  justify-content: end;

  list-style: none;
}

nav li {
  cursor: pointer;
  margin-left: 50px;

  transition: 0.2s all;
}

nav li:hover {
    color: #d10a0a;
}

.left-wrapper {
    display: flex;

    justify-content: center;

    width: 50%;
    height: 100vh;
}

.top-left-wrapper {
  display: flex;
  flex-direction: column;

  width: 35%;
  height: 55%;
  
  line-height: 30px;

  align-items: center;
  justify-content: center;
}

.top-left-wrapper p {
    font-weight: bold;
    font-size: 20px;
  line-height: 50px;
}

.top-left-wrapper h1 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 7vh;
  font-weight: bold;
  line-height: 5px;
}

.top-left-wrapper h2 {
  color: #2eafd6;
  font-family: "Poppins", sans-serif;
  font-size: 4vh;
  font-weight: 500;
}

.top-left-wrapper button {
  background-color: #ff0000;
  width: 220px;

  border: none;
  border-radius: 5vh;

  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: bold;

  padding: 4px;
  cursor: pointer;
  transition: 0.2s all;
}

.top-left-wrapper button:hover {
  transform: scale(1.05);
}

/* RIGHT BOTTOM WRAPPER */

.bottom-right-wrapper {
    display: flex;

    align-items: center;
    justify-content: center;

    width: 35%;
    height: 45%;
    background-color: black;
}
