.project {
  display: flex;

  background-color: rgba(90, 88, 88, 0.1);
  border-radius: 2vh;
  padding: 10px;

  align-items: center;
  justify-content: space-between;

  width: 90%;
  margin-top: 10vh;
}

/* PROJECT DESCRIPTION */

.project-description {
  width: 50%;
}

.project-description p {
  background-color: rgba(78, 76, 76, 0.4);

  border: 1px solid white;
  border-radius: 1.5vh;

  font-size: 2.8vh;
  font-weight: 300;

  text-align: center;

  padding: 10px;
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 100%;
  margin-bottom: 20px;
}

.project-tags span {
  border: 1px solid rgba(127, 255, 212);
  margin: 1vh;
  color: rgb(127, 255, 212);
  padding: 3px 10px;
  border-radius: 1.5vh;
}

.project-description button {
  padding: 5px;
  border-radius: 1.5vh;

  color: white;
  max-width: 90%;

  font-size: 2.5vh;
  letter-spacing: 2px;
}

/* PROJECT IMAGE*/

.project-image {
  width: 45%;
  display: flex;
  justify-content: center;
}

.project-image div {
  display: inline-block;
  flex-grow: 1;
  margin: 1vh;
}

.project-image img {
  width: 100%;

  border: 1px solid #ff0000;
  border-radius: 1.5vh;
}

@media only screen and (max-width: 820px) {
  .project {
    flex-direction: column;

    text-align: center;
    justify-content: center;
  }
  .project-tags {
    justify-content: center;
  }
  .project-description {
    width: 100%;
  }
  .project-image {
    display: flex;
    width: 100%;
    margin-top: 30px;
  }

  .project-image div {
    display: inline-block;
    flex-grow: 1;
    margin: 0.5vh;
  }

  .project-image img {
    width: 100%;
  }
}
