.greeting-container {
  display: flex;

  align-items: center;

  width: 90%;

  animation: fadeFromLeft 0.6s ease-in-out;

  h1 {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 7vh;
    font-weight: bold;
    line-height: 5px;
  }

  h2 {
    color: var(--primary-blue);
    font-family: "Poppins", sans-serif;
    font-size: 4vh;
    font-weight: 500;
  }

  p {
    font-weight: bold;
    font-size: 2.8vh;
    line-height: 10vh;
  }
}

@media screen and (max-width: 768px) {
  .greeting-container {
    justify-content: center;
  }
}
