footer {
  display: flex;

  justify-content: center;
  align-items: center;

  position: absolute;
  left: 0;

  background-color: rgb(26, 26, 70);
  width: 100%;
  text-align: center;

  padding-block: 40px;

  overflow-x: hidden;

  p {
    font-size: 1.2em;
    margin: 0;
  }
}
