::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #00001a;
}

::-webkit-scrollbar-thumb {
  background: rgb(243, 234, 234);
  border-radius: 2.5vh;
}

/* ANIMATIONS */

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadeFromLeft {
  0% {
    margin-left: -50%;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes fadeFromRight {
  0% {
    margin-right: -50%;
  }
  100% {
    margin-right: 0;
  }
}

.main-content {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  background: radial-gradient(
      70% 225% at 0% 0%,
      var(--secondary-purple) 0%,
      #1b283d 100%
    ),
    radial-gradient(
      100% 225% at 100% 0%,
      #ff6b00 0%,
      var(--primary-purple) 100%
    ),
    linear-gradient(181deg, #ce63b7 0%, #ed6283 100%),
    radial-gradient(100% 120% at 75% 0%, #a74600 0%, #000000 100%),
    linear-gradient(305deg, #004596 0%, var(--secondary-blue) 50%);

  padding: 0px;

  width: 100%;
  height: 100vh;

  color: var(--primary-purple);
  font-family: "JetBrains Mono", monospace;
}

@media screen and (max-width: 768px) {
  .main-content {
    gap: 48px;
  }
}
