@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&family=Nunito:wght@200&family=Poppins:wght@300&family=Roboto:wght@500&display=swap");

body {
  margin-top: 100vh;
  overflow-x: hidden;

  background-color: #00001a;
  background-blend-mode: overlay, color-dodge, color-burn, color-dodge, normal;

  color: white;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}
