.skill-button {
  display: inline-block;
  flex-direction: column;
  box-sizing: border-box;

  width: 30vh;

  align-items: center;
  justify-content: center;

  margin: 20px 10px;
  padding: 5vh 1vh;
  border: 1px solid var(--primary-purple);

  white-space: nowrap;
  transition: 0.2s all;
  cursor: pointer;
}

.skill-button:hover {
  transform: scale(1.05);
  box-shadow: 1vh 0.3vh 3vh 1vh var(--primary-purple);
}
